.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
  color: #fff !important;
}

.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}


.full-screen {
  /*background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*#hoopzCarousel img{
min-height: 100vh;
}*/

/*.carousel-inner img {

  min-height: 100vh !important;
  min-width: 100
}

.carousel-caption h3 {
  color: #fff !important;
}
